<html>
<head>
    <%= if (title && len(title) > 0) { %>
    <title><%= title %></title>
    <% } %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <script>
        var HOSTNAME = "<%= jsEscape(hostname) %>";
    </script>
    <script src="assets/js/custom.js"></script>
</head>
<body style="background-color:#FEFEFE">
    <div class="container-fluid">
        <%= yield %>
    </div>
</body>
</html>